@{
    ViewData["Title"] = "Compra Realizada";
}

<div class="container mt-5 text-center">
    <div class="card shadow-sm p-5 border-success" style="border-top: 5px solid #28a745;">
        <div class="card-body">
            <h1 class="display-4 text-success mb-3">
                🎉 Compra Realizada!
            </h1>

            <p class="lead">Obrigado pela sua compra.</p>
            <p>Seus assentos foram reservados com sucesso.</p>

            <hr class="my-4">

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a asp-action="Index" class="btn btn-primary btn-lg px-4 gap-3">
                    Comprar mais Ingressos
                </a>

            </div>
        </div>
    </div>
</div>